anyio
argon2-cffi
argon2-cffi-bindings
asgiref
dj-database-url
Django
djangorestframework
executing
fonttools
gTTS
httpcore
httpx
ipykernel
ipython
ipython-genutils
ipywidgets
jsonpointer
jsonschema
matplotlib
matplotlib-inline
packaging
parso
passlib
pickleshare
prompt-toolkit
pyasn1
pyasn1-modules
pycparser
Pygments
pyparsing
pypiwin32
pyrsistent
python-dateutil
python-json-logger
pyttsx3
pytz
pywin32
pywinpty
PyYAML
pyzmq
regex
requests
rfc3339-validator
rfc3986
rfc3986-validator
rsa
scikit-learn
sqlparse
tkcalendar
uri-template
urllib3
utils
webcolors
websocket-client